# Dependencies
node_modules

# Build outputs
dist
dist-ssr


# Local env files
*.local
.env.local
.env.development.local
.env.test.local
.env.production.local

# Editor and OS files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store