@use '../../styles/variables.scss';

.categoryContainer {
    margin-bottom: 8px;
  }
  
  .categoryHeader {
    display: flex;
    align-items: center;
    padding: 8px 0;
    cursor: pointer;
  }

  .expanded {
    transform: rotate(90deg);
  }
  
  .collapsed {
    transform: rotate(0deg); 
  }

  .sourceItem {
    padding: 6px 0 6px 22px;
    cursor: pointer;

    &:hover {
      background: var(--color-gray-light);
    }
  }
  