@use '../../styles/variables.scss';

.panel {
    position: absolute;
    right: 0;
    top: 0;
    width: 350px;
    background: #fff;
    border: 1px solid #ccc;
    padding: 16px;
    z-index: 10;
  }
  
  .title {
    margin-top: 0;
  }
  
  .description {
    margin-bottom: 16px;
  }
  

 
  
  .closeButton {
    margin-top: 16px;
  }