:root {
    --color-primary: #007bff;
    --color-primary-light: #66b2ff;
    --color-primary-dark: #0056b3;

    /* Secondary Colors */
    --color-secondary: #6c757d;
    --color-secondary-light: #a6a9ad;
    --color-secondary-dark: #494f54;

    /* Neutral Colors */
    --color-white: #ffffff;
    --color-black: #000000;
    --color-gray-light: #f8f9fa;
    --color-gray: #ced4da;
    --color-gray-dark: #343a40;
}