@use '../../styles/variables.scss';
  

  .modalOverlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }
  
  .modalContent {
    width: 700px;
    max-height: 80vh;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: var(--color-white);
  }
  
  .modalHeader {
    padding: 15px 20px;
    margin:20px;
  }
  
  .modalTitle {
    margin: 0;
    font-size: 18px;
    font-weight: 500;
  }
  
  .modalBody {
    margin:20px;
    display: flex;
    flex-direction: column;
    height: 500px;
    overflow: hidden; 
  }
  
  .searchContainer {
    position: relative;
    margin-bottom: 15px;
    width:500px;
  }
  
  .searchInput {
    width: 100%;
    padding: 8px 10px 8px 35px;
    border: 1px solid  var(--color-gray-light);
    border-radius: 4px;
    font-size: 14px;
  }
  
  .searchIcon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .modalFooter {
    padding: 15px 20px;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
  }
  
  .cancelButton {
    padding: 8px 16px;
    background-color: transparent;
    border: 1px solid var(--color-gray-light);
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
  }

  .sourcesList {
    flex: 1;
    overflow-y: auto;
    margin-top: 10px;
  }
  
  .panelHeader {
    display: flex;
    flex-direction: column;
  }
  
  .noResults {
    padding: 20px;
    text-align: center;
    color: #999;
    font-style: italic;
  }