
  .title {
    margin-top: 0;
    margin-bottom: 8px;
    font-size: 20px;
  }
  
  .description {
    margin-bottom: 16px;
    color: var(--color-gray-dark);
  }
  
  .mappedField {
    display: flex;
    align-items: center;
    background: var(--color-gray-light);
    border-radius: 20px;
    padding: 6px 16px;
    margin-bottom: 8px;
    font-size: 16px;
  }
  
  
  .fieldIcon {
    margin-right: 8px; 
    font-size: 18px;
  }

  .fieldItem {
    padding: 8px;
    padding-left: 24px; 
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.15s ease;
    display: flex;
    align-items: center;
  }
  
  .removeButton {
    margin-left: auto;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
  }
  
  .closeButton {
    margin-top: 16px;
    padding: 8px 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
  }
  

  .modalOverlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }
  
  .modalContent {
    width: 700px;
    max-height: 80vh;
    background: var(--color-white);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
 
  }
  
  .modalHeader {
    padding: 15px 20px;
    border-bottom: 1px solid #eaeaea;
    margin:20px;
  }
  
  .modalTitle {

    margin: 0;
    font-size: 18px;
    font-weight: 500;
  }
  
  .modalBody {
    margin:20px;
    display: flex;
    flex-direction: column;
    height: 500px;
    overflow: hidden; 
  }
  

  .leftPanel {
    flex: 1;
    overflow-y: auto; 
    max-height: 460px; 
  }
  
  .modalMainPanel {
    flex: 1;
  }
  
  .modalPanelContent {
    padding: 15px 20px;
  }
  
  .modalSubtitle {
    margin: 0 0 15px;
    font-size: 16px;
    font-weight: 500;
  }
  
  .searchContainer {
    position: relative;
    margin-bottom: 15px;
  }
  
  .searchInput {
    width: 100%;
    padding: 8px 10px 8px 35px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
  }
  
  .searchIcon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .sourcesList {
    overflow-y: auto;
    flex-grow: 1;
    padding: 0 20px 15px;
  }
  
  .formLabel {
    border-radius: 4px;
  }
  
  .modalFooter {
    padding: 15px 20px;
    border-top: 1px solid #eaeaea;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
  }
  
  .cancelButton {
    padding: 8px 16px;
    background-color: transparent;
    border: 1px solid var(--color-gray-light);
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
  }
  
  .selectButton {
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    cursor: default;
  }