.formNode {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #6495ed;
    background-color: #f0f8ff;
    min-width: 150px;
    text-align: center;
    position: relative;
  }
  
  .formNodeTitle {
    font-weight: bold;
  }
  
  .nodeHandle {
    background: #555;
  }