@import '../../styles/variables.scss';

.formNode {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid var(--color-primary);
    background: var( --color-white);
    min-width: 150px;
    text-align: center;
    position: relative;
  }
  
  .formNodeTitle {
    font-weight: bold;
  }
  
  .nodeHandle {
    background: var(--color-primary);
  }